[submodule "aula01/assocattr"]
	path = aula01_dasha/assocattr
	url = ssh://esoft27@dasha.ic.unicamp.br/Users/2020/esoft27/INF319/assocattr.git
[submodule "aula01/assocbid"]
	path = aula01_dasha/assocbid
	url = ssh://esoft27@dasha.ic.unicamp.br/Users/2020/esoft27/INF319/assocbid.git
[submodule "aula01/assoccp"]
	path = aula01_dasha/assoccp
	url = ssh://esoft27@dasha.ic.unicamp.br/Users/2020/esoft27/INF319/assoccp.git
[submodule "aula01/assocobj"]
	path = aula01_dasha/assocobj
	url = ssh://esoft27@dasha.ic.unicamp.br/Users/2020/esoft27/INF319/assocobj.git
[submodule "aula01/assocpc"]
	path = aula01_dasha/assocpc
	url = ssh://esoft27@dasha.ic.unicamp.br/Users/2020/esoft27/INF319/assocpc.git
